*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
 
 header{
    background-color: black;
    color: white;
    text-align: center;
    
    padding: 50px 40px;
}



footer{
    background-color: black;
    color: white;
    text-align: center;

    padding: 22px;
}